<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрос на ввод</title>
</head>
<body>
<form action="/calculate" method="post">
    <input type="number" name="first" placeholder="первое число">
    <input type="number" name="second" placeholder="второе число">
    <select name="operation">
        <option value="plus">сложить</option>
        <option value="minus">вычесть</option>
        <option value="mult">умножить</option>
        <option value="div">делить</option>
    </select>
    <button type="submit">вычислить</button>

</form>

</body>
</html>